/* ////// TOPBAR  */
.logo {
  width: 50px;
  height: 50px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
/* .dropdown-toggle::after {
  display: none !important;
} */

/* //////// MAIN CAROUSEL */
.carousel-item-div {
  display: block;
  position: relative;
}
.carousel-tagline1 {
  position: absolute;
  font-size: 6.5vw;
  top: 20%;
  left: 10%;
  color: rgb(0, 25, 48);
  animation: fly-left 3s ease-in-out;
}
.carousel-department {
  position: absolute;
  font-size: 6vw;
  top: 35%;
  left: 20%;
  color: rgb(0, 25, 48);
  animation: fly-right 3s ease-in-out;
}
@keyframes fly-left {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fly-right {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* /////////// DEPARTMENT /////// */
.dept-title {
  text-transform: uppercase;
  margin-bottom: 1em;
}
.dept-title::before {
  content: "";
  height: 20px;
  margin-right: 5px;
  border: rgb(255, 132, 32) 2px solid;
}
.box-left {
  /* height: 400px; */
  /* animation: updown 1500ms alternate infinite ease-in; */
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-left img {
  width: 80%;
  border-radius: 5px;
  box-shadow: 3px 3px gray;
}
.box-right {
  /* height: 400px; */
  padding: 0px 50px;
  margin-left: 20px;
  /* border: 2px solid red; */
}
.box-right p {
  line-height: 10px;
  margin-left: 20px;
}
.box-doc {
  border: 1px solid rgb(187, 186, 186);
  border-radius: 5px;
  box-shadow: 2px 6px 12px rgb(18, 79, 129);
  margin-bottom: 30px;
}
.box-doc-right {
  /* border: 2px solid red; */
  height: 100px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}
.box-doc-right * {
  line-height: 14px;
}
.box-doc-left {
  /* border: 2px solid red; */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-doc-left img {
  border-radius: 50%;
}

@keyframes updown {
  0% {
  }
  100% {
    transform: translateY(10px);
  }
}

/* ///////// DOC-CARD ////// */
.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
  margin-bottom: 100px;
}

.img-container {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
  transition: all 400ms ease-in;
}

.img-container img {
  transform: skew(0deg, -13deg);
  height: 250px;
  margin: -35px 0px 0px -70px;
  transition: all 400ms ease;
}

.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
  transition: all 400ms ease;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  height: 250px;
  /* background: #fff; */
  margin: -120px 0px 0px 0px;
  /* line-height: 19px;
  font-size: 14px; */
  transition: all 400ms ease;
}

.a-box h3 {
  margin: 20px 0px 10px 0px;
  color: black;
  font-size: 18px;
  transition: all 400ms ease-in;
}
.a-box h4 {
  transition: all 400ms ease-in;
  color: black;
  font-size: 15px;
}
.a-box h5 {
  transition: ease-in all 500ms;
  color: transparent;
  font-size: 13px;
}
.a-box p {
  transition: ease-in all 500ms;
  color: transparent;
  font-size: 10px;
  line-height: 11px;
  text-align: justify;
}
/* for i-pad//////////// */
@media screen and (max-width: 768px) {
  .a-box {
    min-width: 180px;
  }
  .img-container {
    height: 180px;
    width: 150px;
  }
  .img-container img {
    height: 200px;
  }
  .text-container h3 {
    font-size: 15px;
  }
  .text-container {
    font-size: 12px;
  }
}

/* ///// HOVER EFFECTS DOCCARD2 ///////// */
.a-box:hover > .img-container {
  transform: scale(0.5) translateY(-50px);
}
.a-box:hover > .text-container {
  background-color: rgb(121, 80, 47);
  height: 250px;
}
.a-box:hover > .text-container h3 {
  color: white;
  transform: translateY(-100px);
  text-decoration: underline;
}
.a-box:hover > .text-container h4 {
  color: white;
  transform: translateY(-100px);
}
.a-box:hover > .text-container h5 {
  color: white;
  transform: translateY(-100px);
}
.a-box:hover > .text-container p {
  color: white;
  transform: translateY(-100px);
  font-size: 10px;
  font-style: italic;
}

/* ///////DOCCARD2 Hover effects for ipad /////// */
@media (max-width: 768px) {
  .a-box:hover > .img-container {
    transform: scale(0.5) translateY(-60px);
  }
  .a-box:hover > .text-container {
    background-color: rgb(97, 41, 67);
    height: 250px;
  }
  .a-box:hover > .text-container h3 {
    color: white;
    transform: translateY(-90px);
    text-decoration: underline;
  }
  .a-box:hover > .text-container h4 {
    color: white;
    transform: translateY(-90px);
    font-size: 80%;
  }
  .a-box:hover > .text-container h5 {
    color: white;
    transform: translateY(-90px);
    font-size: 80%;
  }
  .a-box:hover > .text-container p {
    color: white;
    transform: translateY(-90px);
    font-size: 8px;
    font-style: italic;
  }
}

/* ///////////  FOOTER ///////// */
footer {
  background-color: rgb(58, 18, 18);
  color: antiquewhite;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
footer a {
  color: antiquewhite;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 200ms ease;
}
footer a:hover {
  cursor: pointer;
  color: rgb(246, 188, 248);
  border-bottom: 1px solid rgb(246, 188, 248);
}
@media screen and (max-width: 360px) {
  footer {
    font-size: 0.8em;
  }
}

/* ///////////////======CONTACT=====//////////////////////////// */
.curved-image {
  background-image: url("https://paddy-photo-bucket.s3.ap-south-1.amazonaws.com/clinic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.address-box {
  display: flex;
  padding: 100px 10px;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.address-box h5 {
  font-size: 0.9em;
}
.map-container {
  /* border: 2px solid rgb(224, 224, 224);
  box-shadow: gray 5px; */
  height: 400px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .curved-image {
    height: 200px;
  }
  .address-box {
    padding: 30px 12px;
  }
  .map-container {
    height: 250px;
  }
}

/* //////////// COMING SOON .///////////// */
.coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
}
